@use 'variables' as v;
@use 'mixins';

.footer{
    border-top: 1px solid v.$Very-dark-blue;
    height: 50px;
    width: 375px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__info{
        display: flex;
        align-items: center;
        //border: 1px solid green;
    }
    &__logo{
        //border: 1px solid red;
        height: 37px;
        width: 100px;
    }
    &__copyright{
        font-size: 6px;
    }
    &__contacto{
        //border: 1px solid green;
        display: flex;
        width: 100px;
        padding: 0px 5px;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        &--whatsapp{
            &:hover{
                cursor: pointer;
                content: url(./images/whatsapp-Green.svg);
            }
        }
        &--instagram{
            &:hover{
                cursor: pointer;
                content: url(./images/instagram-violet.svg);
            }
        }
        &--facebook{
            &:hover{
                cursor: pointer;
                content: url(./images/facebook-blue.svg);
            }
        }
        &--gmail{
            &:hover{
                cursor: pointer;
                content: url(./images/gmail-Red.svg);
            }
        }
        
    }
    @media (min-width: 1115px) {
        width: 1115px;

    }
}
