@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$Orange: hsl(26, 100%, 55%);

$Very-dark-green: #21260C;
$dark-green: #4C591C;
$green: #6B7332;

$Pale-White: #F2F2F2;
$Pale-Black: #0D0D0D;

$Pale-orange: hsl(25, 100%, 94%);
$Font: 'Kumbh Sans', sans-serif;


$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Modal-Black: hsl(0, 0%, 0%, 0.5);