@use 'variables' as v;
@use 'initial';
@use 'header';
@use 'navbar';
@use 'modal-navbar';
@use 'gallery';
@use 'details';
@use 'input';
@use 'modal-cart';
@use 'modal-gallery';



.container{
    position: relative;
    width: 375px;
    margin: auto;
    display: flex;
    flex-direction: column;
    //border: 1px solid black;
    @media (min-width: 1115px) {
        width: 1115px;
    }
}

.content{
    @media (min-width: 1115px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 90px 50px;
        gap: 124px;
    }
}

.show{
    display: block;
}
.cart-empty{
    //border: 1px solid red;
    text-align: center;
    margin-top: 30px;
    color: v.$Modal-Black;
    font-weight: 700;
    font-size: 1.1em;
}