@use 'variables' as v;
@use 'initial';
@use 'header';
@use 'navbar';
@use 'modal-navbar';

.container{
    position: relative;
    width: 375px;
    margin: auto;
    border: 1px solid black;
    @media (min-width: 1115px) {
        width: 1115px;
    }
}
